# This is a CODEOWNERS file.
# Each line is a file pattern followed by one or more owners.

# Assign ownership of all files to specific users
* @Mselachui03 @mselachui1st

# Assign ownership of specific directories or files
/docs/ @Mselachui03
/src/ @mselachui1st
README.md @Mselachui03
